SpringFrameworkSourceCode/src/main/resources/ch4/xsdDefineMarkTest.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--targetNamespace信息为随机填写-->
<schema xmlns="http://www.w3.org/2001/XMLSchema"
        targetNamespace="http://www.codejiayou.com/schema/user"
        xmlns:tns="http://www.codejiayou.com/schema/user"
        elementFormDefault="qualified">

    <element name="userxsd">
    <complexType>
        <attribute name="id" type="string"/>
        <attribute name="userName" type="string"/>
        <attribute name="email" type="string"/>
    </complexType>
    </element>


</schema>